::-webkit-input-placeholder {
    color: black;
 }
:-moz-placeholder {
    color: black;
}
::-moz-placeholder {
    color: black;
    font-family: "Proxima Nova Semibold",sans-serif;
}
:-ms-input-placeholder {
    color: black;
    font-family: "Proxima Nova Semibold",sans-serif;
}

a{
	color: #917C85;
	text-decoration: none;
}
body {
	background-color: #E0D5D5;
	margin:80px 80px 100px 100px;
	font-family: "Proxima Nova Semibold",sans-serif;
	font: #4D4D4D;
	line-height: normal;
	letter-spacing: normal;
}
div#fixedHeader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:black;
	background-color:#E0D5D5;
	padding: 2em;  /*this element increases the height of the div by giving it some padding */
}
div#fixedHeader h1{
	position: fixed;
	margin-left: 260px;
	width: 6em;
	height: 1em;
	display: inline-block;
	text-transform: capitalize;
	text-align: left;
	font: 12px/1.25 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 3em;
	color: #4D4D4D;
}
div#fixedHeader h3{
	position: fixed;
	margin-left: 260px;
	width: 18em;
	height: 1em;
	display: inline-block;
	text-transform: capitalize;
	text-align: center;
	margin-top: 5em;
	text-align: left;
}
div#nameDiv h3{
	margin: 0;
}
ul{
	width:  45em;
	height: 2em;
	float: right;
	margin-top: 90px;
	margin-right: 90px;
	color: #8B8B8B;
}
ul li{
	display: inline-block;
	font-size: 10pt;
	text-decoration: none; 
	margin-left: 20px;
	line-height: 30px;
}
div#imageDiv{
	position: absolute;
	top: 260px;
	left: 250px;
	width: 400px;
	height: 395px;
}
div#imageDiv .img1{
	position: static;
	box-shadow: 0px 0px 0px #000;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
div#content{
	position: absolute;
	top: 210px;
	left: 700px;
	width: 680px;
	height: 360px;
	text-align: left;
}
div#content h1{
	font-size: 4em;
	margin: 0;
	color: #4D4D4D;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent; 
}
div#content h4{
	text-transform: lowercase;
	margin: 0;
	color: #4D4D4D;
	margin-top: 8px;
	line-height: normal;
	letter-spacing: normal;
	font-size: 2em;
}
div#circleCV{
	display: inline-block;	
	position: absolute;
	height: 130px;
	width: 130px;
	margin-left: 0;
	border-radius: 50%;
	text-align: center;
	margin-top: 5em;
	overflow: hidden;
	background-color: rgba(232, 53, 86, 1);
	border: rgba(232, 53, 86, 1) solid 0px;
	color: white;
	text-transform: uppercase;
}
div#circleCV:hover{
	background-color: rgba(155, 36, 57, 1);
	border: solid rgba(155, 36, 57, 1) -5px;
}
/*span works for centering text in a circular div*/
div#circleCV span{
	height: 130px;
	display: inline-block;
	zoom: 1; 
	*display: inline;
	vertical-align: middle;
}
div#circleWork{
	display: inline-block;	
	position: absolute;
	height: 130px;
	width: 130px;
	margin-left: 10em;
	border-radius: 50%;
	text-align: center;
	margin-top: 5em;
	overflow: hidden;
	background-color: rgba(97, 208, 212, 1);
	border: rgba(97, 208, 212, 1) solid 0px;
	color: white;
	text-transform: uppercase;
}
div#circleWork:hover{
	background-color: rgba(65, 139, 141, 1);
	border: solid rgba(65, 139, 141, 1) -5px;
}
div#circleWork span{
	height: 130px;
	display: inline-block;
	zoom: 1; 
	*display: inline;
	vertical-align: middle;
}
div#circleSkills{
	display: inline-block;	
	position: absolute;
	height: 130px;
	width: 130px;
	margin-left: 20em;
	border-radius: 50%;
	text-align: center;
	margin-top: 5em;
	overflow: hidden;
	background-color: rgba(209, 201, 38, 1);
	border: rgbargba(209, 201, 38, 1) solid 0px;
	color: white;
	text-transform: uppercase;
}
div#circleSkills:hover{
	background-color: rgba(139, 134, 25, 1);
	border: solid rgba(139, 134, 25, 1) -4px;
}
div#circleSkills span{
	height: 130px;
	display: inline-block;
	zoom: 1; 
	*display: inline;
	vertical-align: middle;
}
div#fixedFooter {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background-color: rgba(232, 53, 86, 1);
	padding:10px;
}
div#box1{
	position: relative;
	height: 60px;
	width: 180px;
	margin-left: 12em;
	color: rgba(255, 255, 255, 1);
	/*border: 1px solid black;*/
}
.lineA{
	position: absolute;
	margin-left: 60px;
	margin-top:-30px;
	top: 50%;
	vertical-align: middle;
}
.lineB{
	position: absolute;
	margin-left: 60px;
	margin-top:-18px;
	top: 50%;
	vertical-align: middle;
}
.lineC{
	position: absolute;
	margin-left: 60px;
	margin-top:2px;
	top: 50%;
	vertical-align: middle;
}
.line1{
	position: absolute;
	margin-left: 60px;
	margin-top:-18px;
	top: 50%;
	vertical-align: middle;
}
.line2{
	position: absolute;
	margin-left: 60px;
	margin-top:2px;
	top: 50%;
	vertical-align: middle;
}
.img{
	height: 42px;
	width: 42px;
	margin-left: 1px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}
.img2{
	height: 20px;
	width: 20px;
	margin-left: 1px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}
.img3{
	height: 20px;
	width: 20px;
	margin-left: 1px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	float: left;
}
div#box2{
	position: absolute;
	display:inline-block;
	float: right;
	height: 60px;
	width: 200px;
	margin-left: 12em;
	margin-top: -62px;
	color: rgba(255, 255, 255, 1);
	/*border: 1px solid black;*/
}
div#box3{
	position: absolute;
	display:inline-block;
	float: right;
	height: 40px;
	width: 180px;
	margin-left: 30em;
	margin-top: -62px;
	color: rgba(255, 255, 255, 1);
	/*border: 1px solid black;*/
}
div#box4{
	position: absolute;
	display:inline-block;
	float: right;
	height: 60px;
	width: 200px;
	margin-left: 46em;
	margin-top: -62px;
	color: rgba(255, 255, 255, 1);
	/*border: 1px solid black;*/
}
div#contactBox{
	margin-left: 13em;
	margin-top: 280px;
	font: 14px/4.25 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

div#contact{
	position: absolute;
	margin-left: -4em;
	margin-top: 100px;
}
div#contact h1{
	position: absolute;
	margin-left: 260px;
	display: inline-block;
	text-transform: capitalize;
	text-align: left;
	font: 12px/1.25 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 4em;
	color: #4D4D4D;
}
div#contact h5{
	position: fixed;
	margin-left: 720px;
	width: 22em;
	height: 1em;
	display: inline-block;
	text-transform: capitalize;
	text-align: center;
	margin-top: 4em;
	text-align: left;
	color: #917C85;
}
.contactText1{
	padding: 0;
    height: 30px;
    width: 26em;
    top: 100px;
    position: relative;
    margin-left: 45em;
    margin-top: -2em;
    border: 1px solid #cdcdcd;
    background-color: rgba(232, 53, 86, 1);
	border: rgba(232, 53, 86, 1) solid 1px;
    font-size: 16px;
    color: white;
}
.contactText2{
	padding: 0;
    height: 100px;
    width: 26em;
    top: 20px;
    position: relative;
    margin-left: 45em;
    margin-top: 4em;
    outline: none;
    border: 1px solid #cdcdcd;
    background-color: rgba(232, 53, 86, 1);
   	border: rgba(232, 53, 86, 1) solid 1px;
    font-size: 16px;
    color: white;
}
#btn_submit{
	position: absolute;
	background-color: rgba(97, 208, 212, 1);
    margin-left: 80em;
    margin-top: .5em;
    width: 5.2em;
    height: 3em;
    display: inline-block;	
	position: absolute;
	border: rgba(97, 208, 212, 1) solid 1px;
	color: white;
	text-align: center;
}